@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

body,
h1,
span,
ul,
li,
form,
input,
a,
img,
div,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  color: #333;
  font-family: "Inter", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

#logo {
  margin-bottom: 4rem;
}

.container--input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 70%;
}

.container--input {
  &:focus-within {
    label {
      color: #197887;
    }
  }
}

label {
  font-family: "inter", sans-serif;
  color: #4cabb9;
  font-size: 1.5rem;
}

input {
  font-size: 1rem;
  font-weight: bold;
  color: #4cabb9;
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid #197887;
  box-sizing: border-box;
  transition: 0.1s ease-in-out;
}

input:focus {
  outline: none;
  padding-left: 2rem;
  transition: 0.1s ease-in-out;
}

input:focus label {
  color: #197887;
  transition: 0.1s ease-in-out;
}

a {
  text-decoration: none;
  width: max-content;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #197887;
}

.container--login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  width: 100%;
}

.container--form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
}

.container--btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 70%;
  margin-top: 2rem;
}

.container--btn-cadastro {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}

.btn--dark {
  border: 2px solid #197887;
  color: #fff;
  background: linear-gradient(
    133deg,
    rgba(111, 202, 216, 1) 12%,
    rgba(25, 120, 135, 1) 100%
  );
}

.btn--dark:hover {
  border: 2px solid #197887;
  background: linear-gradient(
    324deg,
    rgba(111, 202, 216, 1) 12%,
    rgba(25, 120, 135, 1) 100%
  );
  transition: 0.2s ease-in-out;
  color: #197887;
}

.btn--dark:active {
  background: linear-gradient(
    324deg,
    rgba(111, 202, 216, 1) 12%,
    rgba(25, 120, 135, 1) 100%
  );
  color: #035461;
}

.btn--light {
  border: 2px solid #197887;
  border-color: linear-gradient(
    133deg,
    rgba(111, 202, 216, 1) 12%,
    rgba(25, 120, 135, 1) 100%
  );
}

.btn--light:hover {
  background: linear-gradient(
    133deg,
    rgba(111, 202, 216, 1) 12%,
    rgba(25, 120, 135, 1) 100%
  );
  color: #fff;
  transition: 0.2s ease-in-out;
}

.btn--light:active {
  color: #035461;
}

.bg--login {
  background: url(./assets/bg-login.png);
  height: 100vh;
  background-size: cover;
}

@media (max-width: 1400px) {
  body {
    font-size: 12px;
  }
}
